<header>
  <h1>Welcome</h1>
</header>
<%= @message if @message %>
<div class="search_box">
  <% if @city %>
    <h2>Leaving from <%= @city %></h2>
  <% else %>
    <p>Choose city</p>
  <% end %>
  <%= render "search_results/form" %>
</div>
