<div id="map"></div>

<div class="top-heading">
  <h1> Raft </h1>
</div>
<div class="sub-heading">
  <h2> <%= @guides.count %> guides & counting </h3>
  <h2>  taking you around the world   </h2>
</div>

<div class="search-box">
  <h1 id="box-head">Find your Destination...</h1>
  <%= render "search_results/form" %>
</div>

