<div id="map"></div>
<div id="loginAjax"></div>
<div class="top-heading">
  <h1> Raft </h1>
</div>
<div class="sub-heading">
  <% if current_user %>
    <h2> Hello <%= current_user.first_name %>!</h2>
    <h2> Let's get you
  <% else %>
    <h2>  taking you around the world   </h2>
    <h2> with <%= @guides.count %> guides & counting </h3>
  <% end %>
</div>

<div class="search-box">
  <h1 id="box-head">Find your Destination...</h1>
  <%= render "search_results/form" %>
</div>

