<div class="standard_box">
  <% if @results.count != 0 %>
    <h1> Your Previous Searches </h1>
    <% @results.each do |result| %>
      $<%= result.budget %>
      From: <%= result.start_at %>
      <% result.locations.each do |location| %>
        <%= location.city %>
        <% end %>
      <br><br>
    <% end %>
  <% else %>
    <h2> You have no Searches! </h2>
  <%end%>
</div>
