<div class="standard_box">
  <h1> Your Previous Searches </h1>
  <% if @results %>
    <% @results.each do |result| %>
      <%= result.budget %>
      <%= result.start_at %>
      <%= result.end_at %>
      <% result.locations.each do |location| %>
        <%= location.city %>
        <% end %>
      <br><br>
    <% end %>
  <% else %>
    <h2> You have no Searches! </h2>
  <%end%>
</div>
