@import url(http://fonts.googleapis.com/css?family=Bitter:400,700|Pacifico|Nunito|Satisfy);

.left {
  float: left;
}

.right {
  float: right;
}

/*HEADER*/

  h1 {
    font-family: 'pacifico', serif;
  }

  h2, h3, h4 {
    font-family: 'bitter', serif;
  }

  p {
    font-family: 'Nunito', sans-serif;
  }

/*NAVIGATION*/
  nav {
    text-align: right;
    margin: 0px;
    padding: 10px;
    background-color: rgba(142, 142, 142, 0.6);
    position: relative;
    z-index: 1;
  }

  nav ul {
    list-style-type: none;
  }

  nav li {
    display: inline;
    padding: 2em;
  }

  nav a {
    text-decoration: none;
    color: #606060;
  }

  nav a:hover {
    color: #FFF;
  }

  nav ul, nav h1{
      margin: 0px;
      padding: 0px;
  }

/* background image */

#background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(asset-path("background.jpg"));
  background-size: cover;
  height: 100%;
  padding: 0;
  z-index: -2;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 25px;
  background-color: #0aafc9;
  width: 100%;
}

  footer ul {
    list-style-type: none;
  }

  footer li {
    display: inline;
    padding: 2em;
  }

  footer a {
    text-decoration: none;
    color: #000;
  }

  footer a:hover {
    color: #FFF;
  }

  .wrapper {
    margin: auto;
    width: 75%;
    padding: 10px;
  }

  /* SUBMIT BUTTON GENERAL STYLING */

  input[type=submit] {
    padding: 20px 20px;
    margin-top: 20px;
    background: rgba(10, 175, 201, .5);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
