// Place all the styles related to the search_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* BACKGROUND MAP: INDEX/NEW SEARCH */

  #map {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin: aut0;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: #000;
  }

  .top-heading {
    width: 20%;
    margin: auto;
  }

  .top-heading h1 {
    font-family: 'bitter', serif;
    text-shadow: 2px 2px 6px #000;
    font-size: 5em;
    text-align: center;
    margin: 20px 0px 5px 0px;
  }

  .sub-heading {
    width: 20%;
    margin: auto;
    /* background-color: #00a5c0; */
    opacity: 0.8;
    /* box-shadow: 3px 3px 9px #888888; */
    border-radius: 5px;
  }

  .sub-heading h2 {
    font-size: 2em;
    font-family: bitter, sans-serif;
    color: white;
    text-align: center;
    margin-top: 5px;
    text-shadow: 2px 2px 6px #000;
  }

  #box-head{
    font-size: 1.8em;
    position: absolute;
    color: #0aafc9;
    text-align: left;
    margin: -40px 0px 2px 0px;
    text-shadow: .5px .5px 2px #2b2b2b;
  }

 .search-box {
    width: 50%;
    min-height: 350px;
    position: absolute;
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    left: 0;
    right: 0;
    background-color: rgba(150, 150, 150, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
  }

  .search-box label {
    font-size: 2em;
    font-family: 'bitter', serif;
    line-height: 2.5em;
  }

 .search-box input[type="text"] {
    border:none;
    border-bottom: 2px solid #FFF;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    font-size: 2em;
    line-height: 90%;
    font-family: 'satisfy', sans-serif;
    width: 30%;
    margin-left: 10px;
  }

  .search-box input[type=text]:focus {
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: none;
  }

  .search-box input[type=submit]:hover {
    background: #ccc;
  }

/* Inital Search Results Page*/

  .result-card {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px 10px 30px 10px;
  }

  .button {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  .button a {
    text-decoration: none;
    color: black;
  }

  .initial_results img {
    max-width:95%;
    display:block;
    margin: 10px auto;
    border-radius: 5px;
  }

  .initial_results p {
    margin: 10px;
  }

