// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginAjax {
  height: 200px;
  width: 200px;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  z-index: 1;
}

#loginAjax input[type="text"], input[type="password"] {
  padding: 2%;
  margin: 2%;
}

