<div class="standard_box">
  <br><br>
  <span class="button "><%= link_to "Become a guide", new_guide_path %></span>
  <span class="button "><%= link_to "Look for guides by location", guides_path  %></span>
</div>
